
html, body{height: 100%;}
body{background: rgb(202, 195, 195);}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
.animate{
  -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.header{background: rgba(103, 73, 73, 0.8);}
.header__logo{color: #fff; float: left; display: block; padding: 10px; padding-left: 30px;}
.header__menu{float: right; margin: 0; padding: 0; padding-right: 50px;}  
.header__menu__item{display: inline-block;}
.header__menu__item a{color: #fff; display: block; padding: 15px;}
.header__menu__item a:hover{background: rgba(197, 164, 164, 1);}
.header__icon-bar{display: block; float: right; padding: 15px; display: none;}
.header__icon-bar span{display: block; height: 3px; width: 30px; background: #fff; margin-bottom: 5px;}


.cover{height: 80%; margin: 10px; border-radius: 5mm;
  background-image: url(https://res.cloudinary.com/rbuono70/image/upload/c_scale,w_1200/v1636147255/Foto%20sito%20prova/Mediterraneo/mediterraneo_dietro_makvno.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
  background-position-y:top;
  position: relative;
}

.cover__filter{background:#000;
  width: 100%; height: 100%; 
  background-position-x: center; 
  background-position-y:top;
  z-index: 0; 
  opacity: 60%; 
  border-radius: 5mm; 
  position:absolute;
}
.cover__caption{
  display: table; 
  height: 100%;
  width: 100%;
 
  }
  .cover__caption__copy{
    display: table-cell;
    vertical-align:bottom ;
    text-align: center;
    color: #fff;
  }


.logone{height: 100%; 
  background-image: url(https://res.cloudinary.com/rbuono70/image/upload/v1636325688/Foto%20sito%20prova/Mediterraneo/LOGO_1_axxmew.png)
  ;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40%;
  position: relative;
  z-index: 1;
}
.storia{height: auto; width: 80%; display: ; margin: 10px auto; border: 10px rgb(230, 16, 16) solid; border-radius: 5mm; }
.storia__scritto{width 50%; margin:30px; font-family: 'Lato', sans-serif; font-size: 20px;line-height: 40px;}


/*--------------------------------
tablet
--------------------------------*/
@media(max-width: 998px){

 

}
/*--------------------------------
smartphone
--------------------------------*/
@media(max-width: 768px){
.header{position:fixed; z-index: 100; width: 100%;}
.header__icon-bar{display: block;}
.header__menu__item{display: block;}
.header__menu{width: 100%; height: 0px; padding-right: 0; overflow: hidden;}
.is-open{height: 200px; overflow: auto;}
/*.cover{display: block;}*/
}





.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  * html .clearfix             { zoom: 1; } /* IE6 */
  *:first-child+html .clearfix { zoom: 1; } /* IE7 */